@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  gap: 0.5em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 0.5em;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}